<h1 id="logo"><a href="/">Make a JPG</a></h1> 
<nav id="nav"><a href="/#/about">About</a></nav>

<div class="article_scroller">
<div class="article">
<h1>Make a JPG version: <em app-version></em></h1>
<p>Quick and easy image creation without an account. We currently only support modern browsers on desktop computers.</p>

<p>Make a JPG was created as an alternative to those image creation tools that require an account, cost money, or track your personal information. Make a JPG is good for quickly marking up a document, sharing a thought, or making a photo.</p>

<p>To report bugs, suggest features, or issue a take down request, send an email to info@makeajpg.com or tweet us <a href="https://twitter.com/makeajpg">@makeajpg</a></p>
</div>
</div>