<h1 id="logo"><a href="/">Make a JPG</a></h1> 
<nav id="nav"><a href="/#/about">About</a></nav>

<div class="article_scroller">
<div class="article">
<h1>Terms of Service</h1>

<p>Usage of Make a JPG (&quot;MAJ,&quot; &quot;website,&quot; &quot;service&quot;) and any tools provided by this website constitutes your consent to these terms of service. If you do not agree with these terms, please do not use this website. This document may be updated frequently and it is your obligation to read it each time you use our service.</p>

<h2>Content</h2>

<p>You may not upload, create, or distribute content via this website that visualizes or in any way depicts obscenities such as hate speech (i.e discrimination of gender, race, religion etc.), gore, child pornography, beastiality, threats or harassment, and any content that suggests illegality or is illegal it self.</p>

<p>You will not use this website to do harm to others.</p>

<p>If you find content that is harmful, please email info@makeajpg.com to notify us including a link to the relevant content. If we find that the content contradicts our terms of service, we will remove it. Additionally, without warning we may delete content that we deem offensive or in conflict with these terms.</p>

<h2>Content Property Rights and Usage</h2>

<p>You are only permitted to upload content that you own the rights to. Additionally, you may not use content that infringes the rights of others.</p>

<p>Your use of this website gives us a non-exclusive, royalty-free, irrevocable worldwide license to reproduce, redistribute, modify, display, and otherwise make use of your content. This license also extends to the employees, vendors, and partners of MAJ.</p>

<p>We are not responsible for managing the intellectual property rights of your content. You acknowledge that the content you make available on this website may be downloaded and used at-will by the general public. You are not entitled to royalties or payments of any kind for usage that may result from your use of this website.</p>

<p>Images that are protected by a password on this website are not editable by the public (within the terms described in the Expectation of Service and Warranties section), however the URL to view the flattened image preview is accessible by anyone so, share it accordingly.</p>

<p>To issue a take down request for content you feel violates your rights (intellectual, copyright or other), email info@makeajpg.com with details of the violation and a link to the content.</p>

<h2>Image Storage and Expiration</h2>

<p>MAJ IS NOT AN IMAGE BACKUP OR STORAGE SERVICE, DO NOT USE IT TO STORE CONTENT, ESPECIALLY CONTENT THAT IS IRREPLACEABLE. The images created on this website will remain editable for at least 30 days from the date they were created, after those 30 days they will no longer be editable and the individual images that were uploaded or used on an art board will likely be deleted. We may delete the flattened image previews after a period of inactivity. MAJ is a tool intended for quick, short term image manipulation and collaboration.</p>

<h2>Expectations of Service and Warranties</h2>

<p>MAJ does not ensure the reliability, performance, or availability of our service. We provide the service &quot;AS IS.&quot; We offer no additional warranties to the ones that may be provided by law. MAJ is not liable for lost data.</p>

<p>MAJ does not guarantee the accuracy of coordinates, dimensions, layout, or visual design of the elements that make up an art board or image. Images, text, and artwork may be rendered differently in various browsers.</p>

<p>Any content presented on this website may be inaccurate, misleading, or made up. Do not use it for important things like purchasing decisions, settling an argument, or as a resource for a research paper etc.</p>

<p>Additionally, MAJ is not responsible nor liable for the consequences that may result from using our service. This includes but is not limited to loss of income, legal fees, punitive damages, copyright infringement, and other mishaps according to law or public deviance.</p>

<h2>Miscellaneous</h2>

<p>If a portion of these terms turns out to be non enforceable, the integrity and efficacy of the remaining terms will remain whole.</p>

<p>Should a dispute arise as a result of the use of the service or a violation of these terms, you will hold harmless and indemnify MAJ, its employees, vendors, and affiliates from any suit or action that arrises.</p>

<p>In the event of a legal dispute any and all legal proceedings will take place in California, USA.</p>

<p>These terms may change, it is your responsibility to check them often.</p>
</div>
</div>